@use "sass:map";


$types: margin, padding;
$positions: top, left, right, bottom;
$sizes: 2, 4, 8, 16, 24, 32, 40, 48, 56;
;

@each $type in $types {

  .#{$type}-none {
    #{$type}: 0 !important;
  }

  @media screen and (max-width: 600px) {
    .mb-#{$type}-none {
      #{$type}: 0 !important;
    }
  }

  @each $size in $sizes {
    .#{$type}-#{$size} {
      #{$type}: $size+px;
    }

    .#{$type}-left-right-#{$size} {
      #{$type}: 0 $size+px;
    }

    .#{$type}-top-bottom-#{$size} {
      #{$type}: $size+px 0;
    }

    @media screen and (max-width: 600px) {
      .mb-#{$type}-left-right-#{$size} {
        #{$type}: 0 $size+px;
      }

      .mb-#{$type}-top-bottom-#{$size} {
        #{$type}: $size+px 0;
      }
    }
  }

  @each $position in $positions {

    .#{$type}-#{$position}-none {
      #{$type}-#{$position}: 0 !important;
    }

    @media screen and (max-width: 600px) {
      .mb-#{$type}-#{$position}-none {
        #{$type}-#{$position}: 0 !important;
      }
    }

    @each $size in $sizes {
      .#{$type}-#{$position}-#{$size} {
        #{$type}-#{$position}: $size+px;
      }

      .#{$type}-#{$position}-#{$size}-force {
        #{$type}-#{$position}: $size+px !important;
      }


      @media screen and (max-width: 600px) {
        .mb-#{$type}-#{$position}-#{$size} {
          #{$type}-#{$position}: $size+px;
        }

        .mb-#{$type}-#{$position}-#{$size}-force {
          #{$type}-#{$position}: $size+px !important;
        }
      }
    }
  }
}

.click {
  cursor: pointer;
}
